.botones-abajo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn-block{
    margin: 10px 10px;
    text-decoration: none !important;
    width: 80%;
    font-size: 15px;
}

#boton-block-a{
    text-decoration: none !important;
}