.estudios{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapse{
    margin-top: 20px;
}

.btn-primary{
    background-color: #ff9e5e;
    border-color: #bd6b34;
    text-decoration: underline;
}

.btn-primary:focus{
    background-color: black;
    border-color: black;
    color: #ff9e5e;
    box-shadow: none;
}

.card-body{
    background-color: black;
    height: 100%;
    color: #ff9e5e;
    
}



h2{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    margin-top: 20px;
    animation: bajatexto 10s infinite;
    animation-timing-function: ease-in-out;
    
}

#hr-estiralinea1{

    color: white;
    border: 1px solid white;
    margin-bottom: -5px;
    animation: estiralinea 3s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;

}

#hr-estiralinea2{
    color: white;
    border: 1px solid white;
    margin-top: -5px;
    animation: estiralinea 3s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

.texto-estudios{
    width: 100%;
}

.estudios .texto-estudios p{
    text-align: center;
    width: 100%;
}

@keyframes estiralinea{

    0%{
        width: 0%;
        
    }

    50%{
        width: 50%;
        
    }

    100%{
        width: 0%;
        
    }

}

@keyframes bajatexto{

    0%{
        transform: translateY(-70px);
        opacity: 0;
    }

    15%{
        transform: translateY(0px);
        opacity: 0;

    }

    30%{
        transform: translateX(60px);
        opacity: 1;
    }

    65%{
        transform: translateX(-60px);
        opacity: 1;
    }

    85%{
        transform: translateX(0px);
        opacity: 0;
    }

    100%{
        transform: translateY(-70px);
        opacity: 0;
    }

}