*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    background-color: #292a2c;
}

p{
    color: white;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-size: 15px;
}

.titulo-ingles{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.training{
    width: 100%;
    margin-bottom: 40px;
}
