.iconos-bar{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bar-twitter{
    margin: 0 10px;
}

#bar-github{
    margin: 0 10px;
}

#bar-instagram{
    margin: 0 10px;
}