nav{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logonavbar{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.fa-twitter{
    color: #ff9e5e;
    margin-right: 30px;
}

.fa-instagram{
    color: #ff9e5e;
    margin-right: 30px;
}